body {
    min-height: 100vh;
}
header,
footer {
    background-color: grey;
}

.conteneur {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
hr{
    width: 99%;
    border: 1px solid orange;
}

.lien_aa{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-bottom: 2px solid orange;
}table {
    border-collapse: collapse;
    min-width: 1280px;
    width: 92%;
}
table tr td {
    text-align: center;
}


td,th {
    padding: 5px;
}
table tr, 
table tr,td {
    border: 2px solid grey;
}

.erreur{
    background-color: red;
    padding: 5px;
    margin: 5px;
}

.validation{
    background-color: green;
    color: white;
    padding: 5px;
    margin: 5px;
}

.profil {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
}

.profil > .centre {
    text-align: center;
}

.profil > .cadre > h2 {
    padding: 10px 0;
    margin: 10px 0;
    border: 2px solid rgb(52, 52, 52);
    border-left: none;
    border-right: none;
}